.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(37, 36, 36);
  background-color: rgb(160, 151, 151);
}
.avatar {
  max-width: 100px;
  max-height: 100px;
  border: 2px solid rgb(44, 42, 42);
  border-radius: 50px;
}

.username {
  color: rgb(56, 55, 55);
  font-weight: bold;
}
.stats {
  display: flex;
  justify-content: center;
  background-color: rgb(124, 145, 184);
  margin-top: 0;
  border: 2px solid rgb(43, 41, 41);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.stat {
  color: rgb(29, 28, 28);
  font-weight: bold;
}
